@model projeto_pet_shop_bd1_2021.Models.ViewModels.RacaViewModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Raca</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Raca.Descricao" class="control-label"></label>
                <input asp-for="Raca.Descricao" class="form-control" />
                <span asp-validation-for="Raca.Descricao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca.Caracteristica" class="control-label"></label>
                <input asp-for="Raca.Caracteristica" class="form-control" />
                <span asp-validation-for="Raca.Caracteristica" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Raca.TipoAnimalId" class="control-label"></label>
                <select asp-for="Raca.TipoAnimalId" class ="form-control" asp-items="@(new SelectList(Model.TipoAnimal,"Id", "Descricao"))"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
