@{
    ViewData["Title"] = "Cadastros";
}
<h1>@ViewData["Title"]</h1>

<div class="col-md-12">
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Pessoa" asp-action="Index">
                <input type="button" value="Listar Pessoas" class="btn btn-primary" />
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Pessoa" asp-action="Create">
                <input type="button" value="Cadastrar Pessoa" class="btn btn-primary" />
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="TipoAnimal" asp-action="Index">
                <input type="button" value="Listar tipos de animais" class="btn btn-primary" />
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="TipoAnimal" asp-action="Create">
                <input type="button" value="Cadastrar tipo animal" class="btn btn-primary" />
            </a>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3">
            <a asp-controller="Raca" asp-action="Index">
                <input type="button" value="Listar raças" class="btn btn-primary" />
            </a>
        </div>
        <div class="col-md-3">
            <a asp-controller="Raca" asp-action="Create">
                <input type="button" value="Cadastrar raça" class="btn btn-primary" />
            </a>
        </div>
    </div>
</div>
