@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Projeto de BD 1</h1>
    <p>Desenvolvido por: </p>
    <p>Leonardo Silvatti</p>
    <p>Guilherme Alves</p>
    <p>Matheus Polato</p>
</div>
