@model projeto_pet_shop_bd1_2021.Models.Pessoas.Pessoa

@{
    ViewData["Title"] = "Cadastrar Pessoa";
}

<h1>Cadastrar Pessoa</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Cpf" class="control-label"></label>
                <input asp-for="Cpf" class="form-control" />
                <span asp-validation-for="Cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoLogradouro" class="control-label"></label>
                <input asp-for="EnderecoLogradouro" class="form-control" />
                <span asp-validation-for="EnderecoLogradouro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoNumero" class="control-label"></label>
                <input asp-for="EnderecoNumero" class="form-control" />
                <span asp-validation-for="EnderecoNumero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoComplemento" class="control-label"></label>
                <input asp-for="EnderecoComplemento" class="form-control" />
                <span asp-validation-for="EnderecoComplemento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoCep" class="control-label"></label>
                <input asp-for="EnderecoCep" class="form-control" />
                <span asp-validation-for="EnderecoCep" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoCidade" class="control-label"></label>
                <input asp-for="EnderecoCidade" class="form-control" />
                <span asp-validation-for="EnderecoCidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EnderecoEstado" class="control-label"></label>
                <input asp-for="EnderecoEstado" class="form-control" />
                <span asp-validation-for="EnderecoEstado" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Cadastrar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para lista</a>
</div>
<div>
    <a asp-controller="Home" asp-action="Cadastros">Voltar para menu</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
